.fl-request-demo{
  margin:0 auto;
  width: 320px;
  .fl-request-demo-title{
    font-size: 16px;
    color: #fff;
    padding-top: 30px;
    text-align: center;
    font-weight: 700;
  }
  .fl-request-demo-description{
    font-size: 16px;
    line-height: 1.3em;
    color: #fff;
    font-weight: 100;
    text-align: justify;
  }
}
