@import "../../styles/colors";

.fl-box-intro {
  padding: 24px 0;

  .number-circle {
    font-size: 20px;
    font-weight: 300;
    line-height: 60px;
    color: #fff;
    border: 2px solid #fff;
    width: 60px;
    height: 60px;
    display: inline-block;
    border-radius: 50%;
  }
}
