@import "../../styles/colors";
.fl-layout{
  background: $NAVY;
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 101;
  padding-bottom: 20px;
  .fl-layout-wrap-form{
    margin:60px auto 0 auto;
  }
}
