@import "../../styles/colors.scss";

.tour-item {
  background-color: #fff;
  max-width: 320px;
  min-height: 400px;
  text-align: center;
  margin: 15px 0;
  .text-tour{
    padding: 15px;
    .tour-name {
      display: block;
      padding: 0 0 10px 0;
      line-height:24px;
      font-size: 20px;
      font-weight: 700;
    }
    .time-tour-item{
      color:#666;
      font-size: 14px;
      font-weight: 400;
    }
    .des {
      margin-top: 10px;
      text-align: justify;
    }
  }
}

.fl-team-member-item {
  min-height: 180px;
  overflow: hidden;
  color: #fff;
}

@media (max-width: 767px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
  .fl-team-member-item {
    // height: 180px;
    //width: 320px;
  }
}

@media (min-width: 1200px) {
  .fl-team-member-item {
    //height: 180px;
    //width: 320px;
  }
}
