@import "../../styles/colors";

.flMenu{
  float: left;
  .ulListMenu{
    list-style: none;
    color: #fff;
    height: 60px;
    line-height: 60px;
    a{
      text-decoration: none;
    }
    .menuItem {
      font-size:16px;
      font-weight: 300;
      text-transform: uppercase;
      padding:0 18px;
      color: #fff;
      display: inline;
      cursor: pointer;
      &:hover {
        color: $GREEN !important;
      }
      .active {
        color: $GREEN;
      }
    }
  }
}


//@media (max-width: 767px) {
//  .showMenu{
//    width:100vw;
//  }
//}
//@media (min-width: 768px) and (max-width: 991px) {
//  .showMenu{
//    width:100vw;
//  }
//}
//@media (min-width: 992px) and (max-width: 1199px) {
//  .showMenu{
//    width: 100vw;
//  }
//}
//@media (min-width: 1200px) {
//  .showMenu{
//    width: 100vw;
//  }
//}
