@import "../../styles/colors";

.flowIcon {
  cursor: pointer;
  .contain-icon{
    display: table;
    i{
      display: table-cell;
      vertical-align: middle;
      font-family: "FontAwesome", sans-serif;
    }
  }
  &:hover{
    color: $DARK_CYAN;
  }
  .flIconText {
    font-size: 16px;
    color: #000000;
    padding-left: 10px;
    display: table-cell;
    vertical-align: middle;
    font-weight: 700;
    &:hover{
      color: $DARK_CYAN;
    }
  }
}
