.fl-pricing-item {
  padding-bottom:10px;
  > div {
    > div {
      >div{
        text-align: center;
      }
    }
  }
  .fl-pricing-item-el{
    display: table;
  }
  .fl-pricing-item-des{
    min-height: 65px;
    width: 100%;
    padding: 2px 0;
    display: table;
    .middle-content{
      vertical-align: middle;
      display: table-cell;
    }
  }
  .fl-price{
    padding-top: 14px;
  }
}

