@import "../../styles/colors";

.field{
  position: relative;
  font-weight: 400;
  .form-control{
    height: 40px !important;
    &:focus{
      border: none;
      box-shadow: none !important;
    }
    &:active{
      border: none;
      box-shadow: none !important;
    }
  }
  .has-error{
    display: inline-table;
  }
  .fl-alert{
    font-size: 13px;
    font-weight: 300;
    color:$PINK;
  }
  .icon-in-form{
    font-family: 'FontAwesome', sans-serif;
    position: absolute;
    top:10px;
    left:10px;
    i{
      font-size: 16px;
      color:$GRAY
    }
  }
  .has-error-icon{
    i{
      color:$PINK;
    }
  }
  .fl-input{
    padding-left: 28px;

  }
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
    &:focus{
      background-color: #fff !important;
    }
  }
}

.has-error .form-control{
  border-color: $PINK !important;
}
