@import "../../styles/colors";

.fl-feature-item{
  margin-top: 40px;
  .fl-feature-headline{
    font-size:30px;
    font-weight:300;
    margin-top: 0 !important;
  }
  .fl-feature-content{
    text-align: justify;
    font-size: 16px;
    line-height: 1.3em;
    text-justify: inter-word;
  }
  .fl-feature-img{
    max-height: 240px;
    overflow: hidden;
    >img{
      width: 100%;
      height: auto;
    }
  }
}

