@import "../../styles/colors";

.footer{
  position: relative;
  background-color: $DARK_CYAN;
  height: 50px;
  line-height:50px;

  .term{
    color: #fff;
    padding-left:10px ;
    &:hover{
      color: $GREEN;
      text-decoration: none;
    }
  }
  .copyRight{
    color: #fff;
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}
