@import "../../styles/colors";

.fl-network-icon{
  display: inline-block;
  font-family: 'FontAwesome', sans-serif;
  >a{
    display: inline-block;
    cursor: pointer;
    margin:  0 5px !important;
  }
  .fl-social-small-icon{
    color: #fff;
    &:hover{
      color: $ORANGE;
    }
  }
  .fl-social-medium-icon{
    color: $PINK;
    &:hover{
      color: $PINK;
    }
  }
}
