@import "../../styles/colors";

.overlay-layout{
  position: fixed;
  top:60px;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(27, 117, 187, 1), rgba(56, 180, 73, 0.9));
  z-index: 3;
  .children-in-layout{
    width: 320px;
    margin: 50px auto;
  }
}
